# Detect Wiimote with Guitar attached
ACTION=="add", KERNEL=="input[0-9]*", ATTRS{name}=="Nintendo Wii Remote Guitar", TAG+="systemd", PROGRAM="/usr/bin/systemd-escape -p --template=roadii@.service \"%k\"", ENV{SYSTEMD_WANTS}+="%c"
