[Unit]
Description=Wii Guitar Hero guitar mapping service

[Service]
Type=oneshot
ExecStart=/home/deck/bin/roadii --evsieve-path "/home/deck/bin/evsieve" --kernel-name "%I"
